/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #E0FFFF;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin:  auto;
  padding: 10px 200px;
  text-align: center;
  justify-content: space-between;
  background-color: #F4A460;
}

a{
  color: red;
}

header a{
  color: #333;
  text-decoration: none;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.clients{
  color: #696969;
}

h2{
  color: orange;
  font-size: 35px;
}

.client-details {
  background: #fefeee;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 20px 10px 50px rgba(0,0,0,0.1);
}


.employee-details {
  background: #fefeee;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 20px 10px 50px rgba(0,0,0,0.1);
}


input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form button:hover{
  background-color: darkseagreen;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.client-details button{
  float: right;
  border: 0;
  padding: 8px;
  margin-top: 20px;
  color: #FF4500;
  background-color: #dddddd;
  border-radius: 4px;
  cursor: pointer;
}

.employee-details button{
  float: right;
  border: 0;
  padding: 8px;
  margin-top: 20px;
  color: #FF4500;
  background-color: #dddddd;
  border-radius: 4px;
  cursor: pointer;
}


.employee-details button:hover{
  background-color: #cccccc;
}

.client-details button:hover{
  background-color: #cccccc;
}

.go_back{
  width: 15%;
  height: 20%;
}

.NavigationButtons{
  float: right;
  display: flex;
}

.NavigationButtons input{
  background-color: #FF7912;
  width: 120px;
  padding: 20px;
  color: #CCCCFF;
  cursor: pointer;
}

.NavigationButtons input:hover{
  background-color: #CC7912;
}