/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */

:root {
  --primary: #1aac83;
  --go-back: #E5BA73;
  --error: #e7195a;
}

body {
  background: #E0FFFF;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

.container {
  position: relative;
}

header .container {
  max-width: 1400px;
  margin:  auto;
  padding: 10px 200px;
  text-align: center;
  justify-content: space-between;
  background-color: #F4A460;
}

a {
  color: red;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.clients {
  color: #696969;
}

h2 {
  color: orange;
  font-size: 35px;
}

.form-details {
  background: #fefeee;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 20px 10px 50px rgba(0,0,0,0.1);
}


input, select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  width: 15%;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(21, 71, 21);
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.delete-button{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2%;
  font-family: "Poppins";
  margin: auto 0;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #a12315;
}

.logout-button {
  position: absolute;
  top: 5%;
  right: 2%;
  font-family: "Poppins";
  margin: auto 0;
  text-align: center;
  background-color: #f44336;
  border: none;
  color: white;
  width: 10%;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #a12315; 
}

.login-button {
  background-color: var(--primary);
  right: 5%;
  font-family: "Poppins";
  margin: auto 0;
  text-align: center;
  border: none;
  color: white;
  width: 30%;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.login-button:hover {
  background-color: rgb(21, 71, 21);
}

.go_back{
  width: 15%;
  height: 20%;
}

.go-back-button {
  background-color: var(--go-back);
  right: 5%;
  font-family: "Poppins";
  margin: auto 0;
  text-align: center;
  border: none;
  color: white;
  width: 200px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.go-back-button:hover {
  background-color: #C58940;
}


#patient-details {
  height: 100%;
  opacity: 0.79;
  width: 50%;
}


.NavigationButtons {
  float: right;
  display: flex;
}

.NavigationButtons input {
  background-color: #FF7912;
  width: 120px;
  padding: 20px;
  color: #CCCCFF;
  cursor: pointer;
}

.NavigationButtons input:hover {
  background-color: #CC7912;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}